.delete-button {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .delete-button:hover {
    cursor: pointer;
  }
